HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/docs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
CLAUDE.md
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
../.claude
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### JWT Keys ###
src/main/resources/keys/